
.plotWrap
    // border: 1px solid red
    height: 700px 
    // background: #ebebeb
    position: relative
    // border-radius: 10px
    font-size: 12px !important

.point
    position: absolute !important
    width: 5px
    height: 5px
    border-radius: 2px
    background: red

